.header ul{
	margin-left:50px;
}




.header .header-user{
	position: absolute;
	right: 10px;
	top: 11px;
}

.header .navbar-default{
	background-color: #ecede8;
	border:none;
}

.header .navbar-nav > li > a {font-size: 18px;}

.header .navbar-nav>.active>a,
.header .navbar-nav>.active>a:hover,
.header .navbar-nav>.active>a:focus{
	background-color:white;
}

.sidebar-nav ul{ 
	border:1px solid #ccc;
	background-color:#f5f5f5;
}

.sidebar-nav ul li{
	border-bottom:1px solid #ccc;
	
}

.sidebar-nav ul li a{
	font-size:16px;
	color:#554D4D;
	line-height:40px;
	height:60px;
}


.sidebar-nav ul>.active>a,
.sidebar-nav ul>.active>a:hover,
.sidebar-nav ul>.active>a:focus{
	background-color:white;
}

.hd{
	padding-left: 30px;
}

.red{
	color:#b94a48;
}



.footer{
	color: #999;
	text-align: center;
	height: 22px;
	margin-top: 20px;
}

.container{
	max-width:100%;
}


#price_calender {
	text-align:center;
	margin-left: 20px;
	display:block;
	width:70%;
}

#price_calender h1{
	font-size: 18px;
	border: 1px solid;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#price_calender h1 .pull-left{
	    position: relative;
    	bottom: 8px;
    	left: 3px;
		background-color: rgb(250, 239, 218);
}

#price_calender h1 .pull-right{
	    position: relative;
    	bottom: 8px;
    	right: 3px;
		background-color: rgb(250, 239, 218);
}

#price_calender h1 a i{
	font-weight: bold;
	font-size: 1.3em;
}

#price_calender h1 .pull-right{
	
}


.calendar{
	width:100%;
}

.calendar tbody tr:first-child{
	background-color: rgb(129, 123, 123);
	color: white;
}

.calendar tbody tr:first-child th{
	 text-align:center;
	padding: 10px;
}

.calendar td{
	border:1px solid #3d3d3d;
	min-width:90px;
	min-height:80px;

}

.calendar td label{
	font-size:9px;
  font-weight:normal;
}

.calendar td:hover{
	background:#6FCE67;
}

#calender_editor {
	display:block;
	margin:0px;
}

#calender_editor input{
	max-width:50px;
	padding:1px;
	font-size:10px;
}

#calender_editor label{
	max-width:60px;
	font-size:10px;
}

#calender_editor .btn{
	padding:2px 4px;
}

.navbar-brand{
	padding:0;
}

.td-logo img{
	max-width: 220px;
	max-height: 60px;
}

.navbar-panel .panel-body {
	padding: 0;
	padding-left: 15px;
	background-color: #f5f5f5;
}

.sidebar-nav ul {
	border: 0;
	background-color: #f5f5f5;
}

@media (min-width: 768px){
	.container>.navbar-header {
		margin-right: 60px;
		position:fixed;
	}
	.container>.navbar-header h4{
		min-width:240px;
		margin-left:80px;
		color:#fff;
		
	}

	
	.user_info_nav {
		float:right;
	}
	
	.navbar-default{
	/*	
		background-color:transparent;
		background-color:#DADADA;
	*/
	}
	
	.jilv-head-nav-menu{
		min-width:300px;
		padding:10px;
	}
	
	.footer .row{
		padding:0px 80px;
	}
	
	.row.good{
		padding: 0px 80px;
		margin:auto;
	}
	
	.navbar-nav{
		margin:0px;
		margin-left:5%;
	}
	
}

@media (max-width: 680px){
	.container {
		width: 95%;
	}
	
	.col-xs-4, .col-md-4{
		padding-left: 2px;
		padding-right: 2px;
	
	}
	
	.body .ui-nav .cover .box{
	    width: 80%;
	}
	
	.body .ui-nav .banner .container ul {
		position: static;
		list-style: none;
	}
	
	h1, .h1 {
		font-size: 200%;
	}

}


