body{
	background-color:white;
	margin:0;
	padding:0;
	
}
.header{
	display: block;
    width: 100%;
    height: 60px;
    z-index: 90;
    position: relative;
    border-bottom: 1px solid #ecede8;
    font-size:16px;
}

.header .nav{
	float:right;
}


.header .nav .dropdown-menu{
	
	background-color:#3a3a32;
	color:white;
	padding:0;
}

.header .nav .dropdown-menu li{
	height:52px;
	overflow:hidden;
	border-bottom:1px solid #ccc;
	
}


.header .nav .dropdown-menu li a{
	color:white;
	line-height:52px;
}




.footer{
	text-align: center;
    margin: 5px 0;
}

.footer a{
	font-size: 14px;
    color: #ccc;
    padding-bottom: 10px;
    text-align: center;
    display: block;
    text-shadow: 0 1px 0 #fff;
    font-family: Helvetica,Arial,sans-serif;
    line-height: 15px;
    text-decoration: none;
}






